{{ partial "top.html" . }}

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <time class="post-date"
      datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "02 Jan 2006" }}</time>
  </header>

  {{ .Content }}

</article>

<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d7ffc9b322233b4"></script>

{{ template "_internal/disqus.html" . }}
{{ partial "bottom.html" . }}