{{ partial "top.html" . }}

<article class="posts">

  {{ range site.RegularPages.GroupByDate "2006" -}}
  <section>
    <div class="row">
      {{ range .Pages -}}
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-image">
            <img src="/post_images/thumbnails/{{ .File.TranslationBaseName }}.jpg">
            <span class="card-title">{{ .Title }}</span>
          </div>
          <div class="card-content">
            <p>{{ .Summary }}</p>
          </div>
          <div class="card-action">
            <a href="{{ .RelPermalink }}">רוצה להמשיך לקרוא?</a>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </section>
  {{ end }}

</article>

{{ partial "bottom.html" . }}